:root {
  --base: #ff8503;
  --base-secondary: #ff7843;
  --base-rgba: rgba(255, 133, 3, 0.6);
}

@font-face {
  font-family: "Cyberverse";
  src: url("assets/fonts/Cyberverse\ Bold.otf") format("truetype");
}

@font-face {
  font-family: "Cyberverse400";
  src: url("assets/fonts/Cyberverse.otf") format("truetype");
}

@font-face {
  font-family: "KdamThmorPro";
  src: url("/assets/fonts/KdamThmorPro-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: url(/images/body.jpg);
  background-size: cover;
  background-position: center;
  font-family: "KdamThmorPro", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
}
/* navbar */
.logo {
  width: 200px;
  margin-left: 50px;
}

nav {
  /* display: flex;
  background-color: rgba(4, 4, 8, 0.5);
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px 50px; */
  position: fixed;
  justify-content: space-between;
  background-color: rgba(8, 8, 8, 0.85);
  width: 100%;
  display: flex;
  padding: 20px 0;
  align-items: center;
  height: 52px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 400px;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
}

nav ul li a:hover {
  color: #1490df;
}

/* haburger */

.menu-toggle {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  display: none;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger */

/* animation hamburger */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* end animation hamburger */

/* end navbar */

/* slider */

.slider {
  overflow: hidden;
}
.slider figure img {
  width: 20%;
  object-fit: fill;
  float: left;
}
.slider figure {
  position: relative;
  object-fit: fill;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
  z-index: -2;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* slider */

/* product */

.header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 20px;
}

/* menu */

.menu {
  background-image: url(images/menu.jpg);
  margin: 0px 100px 31px;
  text-align: center;
  border-radius: 20px;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  font-size: 20px;
}

.btn-menu {
  text-decoration: none;
  color: #fff;
  margin: 0 30px;
}

.btn-menu:hover {
  background-color: #fff;
  color: #1490df;
  padding: 5px;
  border-radius: 3px;
}

.name-category {
  margin-left: 80px;
}

.list-product {
  display: flex;
  margin: 0 80px;
}

.topup {
  display: block;
}

.voucher {
  display: none;
}

.pulsa {
  display: none;
}

.produk {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 7pt;
  padding-left: 10px;
  grid-gap: 40px;
}

.card {
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.card a {
  text-decoration: none;
  padding-top: 10px;
  color: black;
  align-items: center;
}

.logo-product {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.produk img {
  width: 200px;
  height: 200px;
}

/* .active {
  background-color: #1490df;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
} */

/* menu */
/* responsive */

@media screen and (max-width: 768px) {
  nav ul {
    display: 50%;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 35vh;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(13, 9, 23);
    margin-top: 90px;
    transform: translateX(100%);
    transition: all 1s;
  }

  nav ul.slide {
    transform: translateX(0);
  }
}
